[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SaturnCoefficient"]
	path = SaturnCoefficient
	url = https://github.com/davidechicco/saturncoefficient
	subdir = SaturnCoefficient
